body {
  background-color: lightskyblue; /* achtergrondkleur */
  background-size: cover; /* vult het scherm */
  font-family: Arial, sans-serif; /* lettertype */
  margin: 20 px;
}

h1 {
  color: white;
  text-align: left;
}

p {
  font-family: Verdana;
  font-size: 20 px;
  text-align: left;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #eeecec;
}

footer {
  background-color: white;
}
