body {
  background-color: #87cefa; /* achtergrondkleur */
  background-size: cover; /* vult het scherm */
  font-family: Arial, sans-serif; /* lettertype */
  margin: 0; /* verwijder standaardmarge */
  padding: 20px; /* ruimte rondom inhoud */
  color: 222px; /* standaard tekstkleur */
}


h1 {
  color: white; /* witte tekstkleur */
  text-align: left;  /* links uitlijnen */
  font-size: 3; /* grotere titel */
  margin bottom: 20px;  /* ruimte onder titel */


}

h2 {

  color: #333; /* donkergrijze subtitel*/
  text-align: left;
  font-size: 2; /* iets kleinere letters dan h1 */
  margin-top: 40px; /* ruimte boven subtitel */
  margin-bottom: 20px; /* ruimte onder subtitel */
}



p { 
  font-family: Verdana;  /* leesbaar lettertype voor tekst */
  font-size: 20px; /* iets grotere tekst */
  text-align: left;/* links uitlijnen */
  line-height: 1.6;  /* regelafstand voor leesbaarheid */
  margin-bottom: 20px; /* ruimte tussen paragrafen */
}


ul {
  list-style-type: none; /* verwijdert bolletjes van lijst */
  margin: 0; 
  padding: 0;
  display: flex; /* horizontale lijst */
  border-radius: 8px; /* afgeronde hoeken */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* schaduw onder de balk */
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #eeecec;
}

footer {
  background-color: white;
  color:#333; /* donkere tekstkleur */
  text-align: center; /* tekst in het midden */
  padding: 20; /* ruimte binnen de footer */
  margin-top: 40; /* ruimte boven footer */
  font-size: 0.95; /* iets kleinere tekst */



}

    .center-link {
      text-align: center; /* link naar pagina 2 centraal houden. */
    }
